THEORY QUESTION

#1. What are data structures, and why are they important?
- Data structures are ways to organize and store data efficiently for easy access and modification. They are crucial for optimizing algorithms, managing memory, and improving performance in programming. Examples include lists, tuples, sets, and dictionaries.

#2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be modified after creation (e.g., lists, dictionaries). Immutable data types cannot be changed once created (e.g., tuples, strings). Example: list1 = [1,2,3] (mutable), tuple1 = (1,2,3) (immutable).

#3. What are the main differences between lists and tuples in Python?
- Lists are mutable, ordered, and allow duplicate values, while tuples are immutable, ordered, and provide better performance. Lists can be modified, but tuples remain constant, making them suitable for fixed data storage.

#4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs using a hash table for fast retrieval. Keys must be unique and immutable, while values can be any type. Example: { "name": "Alice", "age": 25 }.

#5. Why might you use a set instead of a list in Python?
- Sets eliminate duplicate values and offer faster membership checks due to hashing. They are unordered and unindexed, making them useful for removing duplicates and performing mathematical set operations like union and intersection.

#6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, while a list is a mutable collection of elements. Strings are used for textual data and cannot be changed in place, while lists allow modifications and store mixed data types.

#7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning their elements cannot be changed after creation. This ensures data remains constant and prevents accidental modifications, making them ideal for storing fixed data like coordinates or function return values.

#8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables to provide fast lookups, insertions, and deletions, typically with O(1) time complexity.

#9. Can lists contain different data types in Python?
- Yes, lists can contain multiple data types. Example: [1, "hello", 3.14, [2, 3]]. This flexibility makes lists useful for storing heterogeneous data.

#10. Explain why strings are immutable in Python.
- Strings are immutable to ensure security, memory efficiency, and hashability. Once created, a string cannot be modified. Example: "hello"[0] = "H" raises an error, preventing accidental changes.

#11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide fast lookups (O(1) complexity), key-value mapping, and efficient memory use. Unlike lists, they allow quick access without sequential searching, making them ideal for indexed data storage.

#12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable when data should not change, such as storing geographic coordinates (latitude, longitude), database records, or function return values. Their immutability ensures data integrity.

#13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates when elements are added. They store only unique values due to hash-based implementation. Example: {1, 2, 2, 3} results in {1, 2, 3}.

#14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, "in" performs a sequential search (O(n)), while in dictionaries, it checks keys using hashing (O(1)). Example: "key" in my_dict is efficient, but "value" in my_list" requires scanning all elements.

#15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable, meaning elements cannot be changed after creation. However, if a tuple contains a mutable object like a list, that object can be modified.

#16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. Example: {"person": {"name": "Alice", "age": 25}}. It’s useful for storing hierarchical data like JSON configurations or multi-level categorization.

#17. Describe the time complexity of accessing elements in a dictionary.
- Dictionary lookups typically have O(1) time complexity due to hash table implementation. In rare cases of hash collisions, it can be O(n).

#18. In what situations are lists preferred over dictionaries?
- Lists are preferred when order matters, duplicates are needed, or sequential processing is required. They are useful for simple collections where key-value mappings are unnecessary.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries were unordered, meaning elements were stored arbitrarily. From Python 3.7+, insertion order is preserved. Since elements are accessed by keys, position-based retrieval is not possible.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve elements by index (O(1)) but require O(n) for searches. Dictionaries retrieve values by key (O(1)) using hashing, making them efficient for fast lookups.

**PRACTICAL ANSWER**

In [11]:
#1. Write a code to create a string with your name and print it.
name = "Sujeet Kumar"
print(name)

Sujeet Kumar

In [12]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [13]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [14]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [16]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [17]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [18]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last_element = colors[-2]
print(second_to_last_element)

blue

In [19]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [20]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

In [21]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [22]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [23]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [24]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [25]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [28]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice","age": 25,"city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [29]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [31]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [33]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
detail = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [35]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [39]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[4, 15, 58, 78, 87]

In [40]:
#28. Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [41]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
#30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}